<div style="margin:0 auto;width:95%;overflow:auto;font-family:Microsoft JhengHei;">
  <div style="float:left;width:20%;height: auto;">
    
    <div style="background-color:#1BC005;padding: 5% 4%;font-size:36px;font-weight:bold;font-size:30px">生活環保</div>
       
    <div style="background-color: #E2F8B5;line-height: 150%;padding-top:5%;padding-bottom:5%;text-align:center;font-size:24px;text-decoration:none;">
      <%= link_to "食環保", '#' %><br/>
      <%= link_to "住環保", '#' %></br>
      <%= link_to "行環保", '#' %></br>
      <%= link_to "育環保", '#' %>
    </div>
  </div>
</div>
<div id="CONTENT">
  <% @educates.each do |educate| %>
  <%= educate.title%>
  <%= educate.source %>
  <%= educate.category %>
  <%= educate.movie_link %>
  <% end %>
</div>     
          
          