
<div style="margin:0 auto;width:100%;font-family:Microsoft JhengHei;">
  <div style="float:left;width:20%;height: auto;">

    <div style="margin-top:10%;background-color:#1BC005;padding: 5% 4%;font-size:36px;font-weight:bold;font-size:30px">生活環保</div>

    <div style="background-color: #E2F8B5;line-height: 150%;padding-top:5%;padding-bottom:5%;text-align:center;font-size:24px;text-decoration:none;">
      <%= link_to "氣候變遷", '#' %><br/>
      <%= link_to "海洋危機", '#' %></br>
      <%= link_to "塑化危機", '#' %></br>
      <%= link_to "公害污染", '#' %>
    </div>
  </div>

  <div style="font-family:Microsoft JhengHei;margin-left:25%;width:70%;background-color:#E2F8B5;padding-bottom:5%">

    <div style="font-size: 17px;padding:3% 3% 0 2%">
      <%= link_to "新增活動 ", '#', class:"btn btn-primary btn-lg" %>

      <% @activities.each do |activity| %>
      <%= image_tag(activity.photo , width: "40%", alt: activity.category,:style => "padding-top:5%;padding-left:3%;padding-right:3%;float:left;height:auto;" ) %>

      <p style="padding-top:5%;font-size:19px;font-weight:bold">【<%= link_to activity.title, '#', style: "text-decoration:none;color:#000000;"%>】</p>
      <p style="font-weight:bold">類別:&nbsp;<%= activity.category %></P>
        <div style="width:50%;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;">
          <%= activity.content %>
        </div>
        <p style="padding-bottom:2%;margin-left:85%"><%= link_to "閱讀更多", '#', style: "text-decoration:none;color:#666666;" %></p>
      <% end %>
    </div>
  </div>
</div>
